@import "tailwindcss";
@theme {
  --color-light-neutral-900: #1c1c1f;
  --color-light-neutral-900: #1c1c1f;
  --color-light-neutral-800: #272727;
  --color-neutral-700: #333333;
  --color-light-neutral-400: #cccccc;
  --color-light-neutral-300: #e4e4e4;
  --color-light-neutral-200: #f2f2f2;
  --color-light-neutral-50: #fefefe;
  --color-light-blue-500: #0250c9;
  --color-light-blue-200: #bcd6ff;
  --color-pink-600: #c40f4d;
  --color-pink-100: #ffeaf1;
  --color-neutral-dark-800: #f2f2f2;
  --color-neutral-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}
